This program was written in python3.9

The following libraries need to be installed (list updating as project develops):
BeautifulSoup
argparse
datetime
geopy
pandas
relativedelta
requests
sqlite3
subprocess
