#This program was written in python3.9

#The following libraries need to be installed (list updating as project develops):
argparse
bs4
datetime
geopy
pandas
relativedelta
requests
sqlite3
subprocess
